<template>
  <small
    class="py-1 text-sm font-semibold tracking-wider uppercase"
    v-if="name"
    :class="[chipColors]"
  >
    {{ name }}
  </small>
</template>

<script>
export default {
  name: "CategoryChip",
  props: {
    name: String,
  },
  computed: {
    chipColors() {
      switch (this.name.toLowerCase()) {
        case "ältere generation":
          return "text-red-500";

        case "digital":
          return "text-green-600";

        case "pfadfinder":
          return "text-blue-600";

        case "frauen":
          return "text-yellow-600";

        case "kleingruppen":
          return "text-purple-500";

        case "leitung":
          return "text-indigo-600";

        case "arbeitssicherheit":
          return "text-gray-800";

        case "finanzen":
          return "text-pink-500";

        case "theologie":
          return "text-indigo-600";

        case "mission":
          return "text-indigo-600";

        case "technik":
          return "text-green-800";

        case "medien- & öffentlichkeitsarbeit":
          return "text-red-700";

        case "evangelisation":
          return "text-indigo-800";

        case "seelsorge":
          return "text-red-400";

        case "kinder":
          return "text-yellow-500";

        case "jugend":
          return "text-purple-600";

        case "gottesdienst":
          return "text-yellow-700";

        default:
          return "text-gray-800";
      }
    },
  },
};
</script>
