<template>
  <div class="flex flex-col items-center p-4 text-center">
    <div
      class="inline-flex items-center justify-center flex-shrink-0 w-20 h-20 mb-5 text-blue-500 bg-blue-100 rounded-full"
    >
      <slot />
    </div>
    <div class="flex-grow">
      <h2 class="mb-3 text-lg font-medium text-gray-900 title-font">
        {{ title }}
      </h2>
      <p class="text-base leading-relaxed" v-html="description"></p>
    </div>
  </div>
</template>
<script>
export default {
  name: "FeaterBlock",
  props: {
    title: String,
    description: String,
  },
};
</script>
