<template>
  <div class="flex flex-wrap w-full mb-20">
    <div class="w-full mb-6 lg:w-1/2 lg:mb-0">
      <h1 class="mb-2 text-4xl font-medium text-gray-900 title-font">
        {{ title }}
      </h1>
      <div class="w-20 h-1 bg-blue-500 rounded"></div>
    </div>
    <p class="w-full leading-relaxed text-gray-500 lg:w-1/2">
      {{ description }}
    </p>
  </div>
</template>

<script>
export default {
  name: "Headline",
  props: {
    title: String,
    description: String,
  },
};
</script>
