<template>
  <div
    class="flex flex-col justify-between w-40 h-40 p-1 text-white bg-red-600 rounded-md"
  >
    <span class="text-xl font-bold uppercase">save the date</span>

    <div class="flex h-full">
      <div class="flex flex-col items-baseline w-2/3 h-full text-5xl">
        <p>DIGI</p>
        <p class="font-extrabold">TAL</p>
      </div>
      <div class="w-1/3 mt-1">
        <div class="h-1/2">
          <div class="border-2 border-blue-700 border-dashed h-5/6"></div>
        </div>
        <div class="flex flex-col h-1/2">
          <span class="text-xs">17. April</span>
          <span class="text-lg font-bold">2021</span>
        </div>
      </div>
    </div>

    <span class="text-left">09:00 - 13:00 Uhr</span>
  </div>
</template>

<script>
export default {
  name: "MiteinanderBadge",
};
</script>
