<template>
  <div>
    <div class="py-2 mb-2 font-semibold border-b">{{ title }}</div>
    <div
      class="grid gap-2 md:grid-cols-2 lg:grid-cols-4"
      aria-label="Workshop Kategory auswählen zum filtern"
    >
      <button
        @click="$emit('change', new Set())"
        class="flex items-center justify-between w-full px-2 py-1 text-sm font-semibold tracking-wider rounded-lg cursor-pointer"
        :class="[selected.size === 0 ? 'bg-gray-100' : 'bg-none']"
      >
        <span :class="[selected.size === 0 ? 'text-gray-800' : 'text-gray-500']"
          >Alle</span
        >
      </button>
      <button
        v-for="element in elements"
        :key="element"
        @click="elementSelected(element)"
        class="flex items-center justify-between w-full px-2 py-1 text-sm font-semibold tracking-wider rounded-lg cursor-pointer"
        :class="[selected.has(element) ? 'bg-gray-100' : 'bg-none']"
      >
        <span
          :class="[selected.has(element) ? 'text-gray-800' : 'text-gray-500']"
          >{{ element }}</span
        >
        <svg
          v-show="selected.has(element)"
          class="w-4 h-4"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
  </div>
</template>
<script>
export default {
  name: "MultiSelectList",

  emits: ["change"],

  props: {
    title: String,
    elements: Array,
    selected: Object,
  },

  methods: {
    elementSelected(catId) {
      const selectedElements = new Set(this.selected);

      if (selectedElements.has(catId)) {
        selectedElements.delete(catId);
      } else {
        selectedElements.add(catId);
      }

      this.$emit("change", selectedElements);
    },
  },
};
</script>
