<template>
  <a
    class="relative px-5 pt-5 pb-3"
    :href="publicGroupUrl"
    :class="buttonHoverColor"
  >
    <svg
      :class="[freePlaces > 7 ? 'text-gray-300' : 'text-red-100']"
      class="absolute w-8 h-8 transform -rotate-45 top-2 right-2"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M14 5l7 7m0 0l-7 7m7-7H3"
      />
    </svg>

    <div class="flex items-center space-x-2 text-left" :class="memberColor">
      <div class="text-4xl">
        <span v-if="freePlaces > 0">{{ freePlaces }}</span>
        <svg
          v-else
          class="w-8 h-8"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </div>
      <div class="flex flex-col text-sm">
        <div>{{ freePlacesText[0] }}</div>
        <div>{{ freePlacesText[1] }}</div>
      </div>
    </div>

    <!-- <div class="mt-1 text-xl leading-6 tracking-widest text-left">
      {{ freePlaces > 0 ? "Zur Anmeldung" : "Workshop voll" }}
    </div> -->
  </a>
</template>

<script>
export default {
  name: "RegisterSection",

  props: {
    workshop: Object,
    grouphomepage: String,
  },

  data() {
    return {
      baseUrl: "https://regionsued.church.tools",
    };
  },

  computed: {
    publicGroupUrl() {
      return `${this.baseUrl}/publicgroup/${this.workshop.id}?embedded=true&hash=${this.grouphomepage}`;
    },

    memberColor() {
      if (this.freePlaces === 0) {
        return "text-red-300 border-red-300";
      }

      if (this.freePlaces <= 7) {
        return "text-red-600 border-red-600";
      }

      return "text-gray-600 border-gray-600";
    },

    buttonHoverColor() {
      if (this.freePlaces === 0) {
        return;
      }

      if (this.freePlaces <= 7) {
        return "hover:bg-red-200";
      }

      return "hover:bg-gray-200";
    },

    freePlacesText() {
      if (this.freePlaces === 0) {
        return [`Workshop voll`, `um ${this.workshop.meetingTime}`];
      }

      if (this.freePlaces === 1) {
        return [`Platz noch frei`, `um ${this.workshop.meetingTime}`];
      }

      return [`Plätze frei`, `um ${this.workshop.meetingTime}`];
    },

    freePlaces() {
      return this.workshop.members.max - this.workshop.members.current;
    },
  },
};
</script>
