<template>
  <div class="relative">
    <h3 class="ml-2 text-3xl font-semibold">{{ title }}</h3>

    <div class="mx-auto mt-3 bg-white border rounded-md shadow-lg">
      <div
        v-for="item in items"
        :key="item.name"
        class="z-10 p-3 border-b hover:bg-blue-50"
      >
        <div class="flex flex-col">
          <h2 class="text-xl font-semibold">{{ item.name }}</h2>

          <p class="mt-2">{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TimeTable",

  props: {
    title: String,
    items: Array,
  },
};
</script>
