<template>
  <section class="container px-1 mx-auto md:px-5">
    <div class="bg-white rounded-lg shadow-lg">
      <!-- Title Bar -->
      <div class="flex justify-between p-2 border-b">
        <div class="flex items-center space-x-3">
          <h3 class="flex items-center space-x-1 text-xl font-semibold">
            <svg
              class="w-5 h-5"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
              />
            </svg>
            <span>Filter</span>
          </h3>
          <button
            v-if="isFilterActive"
            @click="resetFilter"
            class="flex items-center px-1 space-x-1 text-sm text-white bg-red-600 rounded"
          >
            <span>Aktiv</span
            ><svg
              class="w-4 h-4"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
              />
            </svg>
          </button>
        </div>

        <button
          class="flex items-center space-x-3"
          @click="showFilter = !showFilter"
        >
          <span>{{ showFilter ? "Zuklappen" : "Aufklappen" }}</span>

          <svg
            v-if="!showFilter"
            class="w-5 h-5"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
          <svg
            v-else
            class="w-5 h-5"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 15l7-7 7 7"
            />
          </svg>
        </button>
      </div>

      <!-- Inner Content -->
      <div
        class="grid grid-flow-row-dense grid-cols-1 gap-2 p-2 space-y-3 md:grid-cols-2 md:space-y-0"
        v-if="showFilter"
      >
        <div class="flex flex-col w-full space-y-3">
          <!-- Favorisierte Gruppen Toggle -->
          <div>
            <div class="py-2 mb-2 font-semibold border-b">Allgemein</div>
            <div
              class="relative inline-block w-10 mr-2 align-middle transition duration-200 ease-in select-none"
            >
              <input
                type="checkbox"
                name="showFavedOnly"
                id="showFavedOnly"
                class="absolute block w-6 h-6 bg-white border-4 rounded-full appearance-none cursor-pointer toggle-checkbox"
                v-model="filter.showFavedOnly"
              />
              <label
                for="showFavedOnly"
                class="block h-6 overflow-hidden bg-gray-300 rounded-full cursor-pointer toggle-label"
              ></label>
            </div>
            <label for="showFavedOnly" class="text-sm text-gray-700"
              >Favorisierte Workshops zeigen</label
            >
          </div>

          <!-- Volle Gruppen Toggle -->
          <div>
            <div
              class="relative inline-block w-10 mr-2 align-middle transition duration-200 ease-in select-none"
            >
              <input
                type="checkbox"
                name="hideFull"
                id="hideFull"
                class="absolute block w-6 h-6 bg-white border-4 rounded-full appearance-none cursor-pointer toggle-checkbox"
                v-model="filter.hideFull"
              />
              <label
                for="hideFull"
                class="block h-6 overflow-hidden bg-gray-300 rounded-full cursor-pointer toggle-label"
              ></label>
            </div>
            <label for="hideFull" class="text-sm text-gray-700"
              >Volle Workshops ausblenden</label
            >
          </div>
        </div>

        <multi-select-list
          title="Startzeiten"
          :elements="meetingTimes"
          :selected="filter.selectedMeetingTimes"
          @change="this.filter.selectedMeetingTimes = $event"
        />

        <multi-select-list
          class="md:col-span-2"
          title="Kategorien"
          :elements="categories"
          :selected="filter.selectedCategories"
          @change="this.filter.selectedCategories = $event"
        />
      </div>
    </div>
  </section>
</template>

<script>
import CategoryChip from "./CategoryChip.vue";
import MultiSelectList from "./MultiSelectList.vue";

export default {
  name: "WorkshopFilter",

  props: { categories: Object, meetingTimes: Object },

  emits: ["filterChange"],

  components: {
    CategoryChip,
    MultiSelectList,
  },

  data() {
    return {
      filter: {
        showFavedOnly: false,
        selectedCategories: new Set(),
        selectedMeetingTimes: new Set(),
        hideFull: false,
      },
      showFilter: false,
    };
  },

  computed: {
    isFilterActive() {
      return (
        this.filter.showFavedOnly === true ||
        this.filter.selectedCategories.size > 0 ||
        this.filter.selectedMeetingTimes.size > 0 ||
        this.filter.hideFull === true
      );
    },
  },

  methods: {
    resetFilter() {
      this.filter.showFavedOnly = false;
      this.filter.selectedCategories = new Set();
      this.filter.selectedMeetingTimes = new Set();
      this.filter.hideFull = false;
    },
  },

  watch: {
    filter: {
      handler() {
        this.$emit("filterChange", this.filter);
      },
      deep: true,
    },
  },
};
</script>
