<template>
  <div
    :class="[{ 'md:col-span-2 grid gap-2 grid-cols-1 md:grid-cols-2': isOpen }]"
  >
    <div
      class="flex flex-col w-full h-full mx-auto overflow-hidden bg-white rounded-lg shadow-lg xl:flex-row"
    >
      <div class="relative z-20 overflow-hidden pb-28 md:pb-52 lg:pr-52">
        <div class="absolute inset-0">
          <picture v-if="workshop.imageUrl !== null">
            <source
              media="(min-width: 1280px)"
              :srcset="`${this.workshop.imageUrl}?w=400&h=500&q=90`"
            />
            <source
              media="(min-width: 1024px)"
              :srcset="`${this.workshop.imageUrl}?w=600&h=200&q=90`"
            />
            <source
              media="(min-width: 768px)"
              :srcset="`${this.workshop.imageUrl}?w=450&h=200&q=80`"
            />
            <source
              media="(min-width: 640px)"
              :srcset="`${this.workshop.imageUrl}?w=600&h=120&q=80`"
            />

            <source
              media="(max-width: 639px)"
              :srcset="`${this.workshop.imageUrl}?w=600&h=120&q=70`"
            />

            <img
              class="object-cover w-full h-full"
              :src="`${this.workshop.imageUrl}?w=440&h=120&q=70`"
              :alt="`${workshopName} Cover Bild`"
              loading="lazy"
            />
          </picture>
        </div>
      </div>

      <div
        class="flex flex-col w-full h-full duration-700 ease-in-out transform"
        :class="{ '-translate-x-full': animate }"
      >
        <div class="flex justify-between h-full">
          <div
            class="z-10 flex flex-col justify-between w-full h-full px-4 py-3 space-y-5"
          >
            <div class="space-y-2">
              <div class="flex flex-wrap items-center space-x-3">
                <div class="w-8 h-8 text-yellow-300">
                  <button
                    class="flex items-center h-full"
                    @click="toggleFav"
                    aria-label="Workshop favorisieren"
                  >
                    <svg
                      v-if="this.workshop.isFavorite"
                      class="w-6 h-6"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-label="Leere Stern - Workshop nicht favorisiert"
                    >
                      <path
                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                      />
                    </svg>
                    <svg
                      v-else
                      class="w-6 h-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      aria-label="Voller Stern - Workshop favorisiert"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"
                      />
                    </svg>
                  </button>
                </div>
                <category-chip
                  class="lg:w-auto"
                  :name="workshop.groupCategory?.name"
                />

                <category-chip v-for="tag in tags" :key="tag" :name="tag" />
              </div>

              <h1 class="text-2xl font-bold text-gray-800">
                {{ workshopName }}
              </h1>
              <div class="text-gray-600 min-h-24">
                <p class="text-sm text-gray-600" v-html="workshopAbstract"></p>
              </div>
            </div>

            <div
              class="flex flex-col justify-between space-y-3 2xl:items-center 2xl:flex-row 2xl:space-y-0"
            >
              <div class="flex items-center" v-if="leader.length > 0">
                <img
                  class="object-cover w-12 h-12 rounded-full"
                  v-if="leader[0].imageUrl"
                  :src="leader[0].imageUrl"
                  :alt="leader[0].title"
                />
                <div
                  v-else
                  class="flex items-center justify-center w-10 h-10 text-2xl text-gray-600 uppercase bg-gray-200 rounded-full"
                >
                  {{ leader[0].title.substr(0, 1) }}
                </div>
                <div class="flex flex-col mx-2">
                  <span class="text-lg font-semibold text-gray-700"
                    >{{ leader[0].title }}
                  </span>
                  <span class="text-sm text-gray-500"
                    >{{ workshop.leaderInfo }}{{ workshop.leaderInfo2 }}
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!-- More Arrow -->
          <div :class="{ hidden: workshop.note.length === 0 }">
            <button
              class="flex items-center justify-center w-8 h-full text-gray-400 hover:bg-gray-100 hover:text-gray-500"
              @click="animate = !animate"
              aria-label="Beschreibung anzeigen"
            >
              <svg
                class="w-5 h-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-label="Doppelpfeil nach rechts"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 5l7 7-7 7M5 5l7 7-7 7"
                />
              </svg>
            </button>
          </div>
        </div>

        <div class="flex flex-col border-t lg:flex-row">
          <!-- Anmeldung Block 1 -->
          <register-section
            :class="[hasSecondBlock ? 'w-full lg:w-1/2' : 'w-full']"
            :workshop="workshop"
            :grouphomepage="grouphomepage"
          ></register-section>

          <!-- Anmeldung Block 2 -->
          <register-section
            v-if="hasSecondBlock"
            class="w-full border-t lg:border-t-0 lg:border-l lg:w-1/2"
            :workshop="workshop.block2"
            :grouphomepage="grouphomepage"
          ></register-section>
        </div>

        <!-- Long Description -->
        <div
          :class="{ hidden: workshop.note.length === 0 }"
          class="absolute flex h-full transform translate-x-full"
        >
          <button
            class="flex items-center justify-center p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500"
            @click="animate = false"
            aria-label="Workshop Übersicht anzeigen"
          >
            <svg
              class="w-5 h-5"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-label="Doppelpfeil nach links"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M11 19l-7-7 7-7m8 14l-7-7 7-7"
              />
            </svg>
          </button>
          <div class="px-3 mb-4 overflow-scroll">
            <h3 class="py-5 text-xl font-semibold bg-white">
              Workshop Beschreibung
            </h3>
            <p class="inline pb-8" v-html="workshopDescription"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RegisterSection from "./RegisterSection.vue";
import CategoryChip from "./CategoryChip.vue";

export default {
  name: "WorkshopCard",
  components: { CategoryChip, RegisterSection },
  props: {
    workshop: Object,
    grouphomepage: String,
  },

  emits: ["faved"],

  data() {
    return {
      workshopName: "",
      isOpen: false,
      animate: false,
      leader: {},
    };
  },

  mounted() {
    this.workshopName = this.workshop.name;
    if (this.workshop.name.slice(-2) === " 2") {
      this.workshopName = this.workshop.name.slice(0, -2);
    }

    this.leader = this.workshop.leader.filter(
      (person) => person.domainIdentifier != 128
    );
  },

  computed: {
    workshopAbstract() {
      return this.markdown(this.workshop.note.split("<!-- more -->")[0]);
    },

    workshopDescription() {
      return this.markdown(this.workshop.note.split("<!-- more -->")[1]);
    },

    tags() {
      if (this.hasSecondBlock) {
        return [this.workshop.meetingTime, this.workshop.block2.meetingTime];
      }

      return [this.workshop.meetingTime];
    },

    hasSecondBlock() {
      return this.workshop.block2 !== null;
    },
  },
  methods: {
    toggleFav() {
      this.$emit("faved", this.workshop.id, !this.workshop.isFavorite);
    },
  },
};
</script>
