<template>
  <section class="container px-5 pb-24 mx-auto text-gray-600 body-font">
    <Headline class="mb-0" title="Ablauf" description="" />

    <div class="relative">
      <background-pattern
        class="w-full -mt-8 transform md:w-72 rotate-12 md:right-0"
      />

      <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
        <time-table
          class="lg:row-span-3"
          :title="timetables[0].title"
          :items="timetables[0].items"
        />
        <time-table :title="timetables[1].title" :items="timetables[1].items" />
        <time-table :title="timetables[2].title" :items="timetables[2].items" />
        <time-table :title="timetables[3].title" :items="timetables[3].items" />
      </div>
    </div>
  </section>
</template>

<script>
import Headline from "../components/Headline.vue";
import BackgroundPattern from "../components/BackgroundPattern.vue";
import TimeTable from "../components/TimeTable.vue";

export default {
  name: "Ablauf",

  components: { Headline, BackgroundPattern, TimeTable },

  data() {
    return {
      timetables: [
        {
          title: "Samstagvormittag",
          items: [
            {
              name: "9:00 - 9:45 – Mutig weiterdenken. Gerade jetzt!",
              description:
                "Gemeinsamer Auftakt (Begrüßung, Lage der Nation, Musikbeiträge, geistlicher Impuls)",
            },
            {
              name: "9:45 - 10:00",
              description:
                "Pause (Möglichkeit zum Wechsel in den jeweiligen Workshop)",
            },
            {
              name: "10:00 - 11:00 – Mutig anpacken. Gerade jetzt!",
              description: "Workshop I (Bei 2-Stunden Workshops bis 12:15)",
            },
            {
              name: "11:15 - 12:15 – Mutig anpacken. Gerade jetzt!",
              description: "Workshop II",
            },
            {
              name: "12:15 - 12:30 – Gemeinsamer Abschluss",
              description: "Wechsel in die Feedbackrunde",
            },
            {
              name: "12:30 - 13:00 – Reflexionszeit vor Ort",
              description:
                "Feedbackrunde mit den Teilnehmenden der eigenen Gemeinde (eigener Zoom Link nötig)",
            },
          ],
        },
        {
          title: "Samstagnachmittag",
          items: [
            {
              name: "14:00 - 17:00 – Mutig persönlich werden. Gerade jetzt!",
              description: "Café Seelsorge.",
            },
          ],
        },
        {
          title: "Samstagabend",
          items: [
            {
              name: "19:30 - 17:00 – Mutig feiern. Gerade jetzt!",
              description: "Stammtisch: Lieblingsgetränke & Diskussionen",
            },
          ],
        },
        {
          title: "Sonntag",
          items: [
            {
              name: "10:00 – Mutig glauben. Gerade jetzt! ",
              description:
                "Gottesdienst der Hoffnung. Livestream aus der FeG Karlsruhe. Predigt: Henrik Otto / Bernd Kanwischer",
            },
          ],
        },
      ],
    };
  },
};
</script>
