<template>
  <footer id="footer" class="bg-gray-100 dark:bg-gray-800">
    <div class="px-6 py-4">
      <div class="lg:flex lg:justify-between">
        <div class="w-full -mx-6 lg:w-4/5">
          <div class="px-6">
            <p
              class="text-xl font-bold text-gray-800 dark:text-white hover:text-gray-700 dark:hover:text-gray-300"
            >
              Ein FeG Projekt der<br />
              <span class="text-blue-600">Region Süd</span> &
              <span class="text-blue-600">Region Mitte-Ost</span>
            </p>

            <p class="max-w-md mt-2 text-gray-500 dark:text-gray-400">
              Der Miteinander-Tag wird in Zusammenarbeit der Region Süd und
              Region Mitte-Ost organisiert, die Teil des Bundes der Freien
              evangelischen Gemeinden sind.
            </p>
          </div>
        </div>

        <div class="mt-6 lg:mt-0">
          <div class="grid grid-cols-2 gap-6 md:grid-cols-3">
            <div>
              <h3 class="text-gray-700 dark:text-white">
                Links &amp; Download
              </h3>
              <a
                href="../asserts/flyer.pdf"
                download="Save the Date - Miteinander-Tag 2020-04-17.pdf"
                class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline"
                >Download Flyer</a
              >
              <a
                href="https://feg.de"
                class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline"
                >FeG Deutschland</a
              >
            </div>

            <div>
              <h3 class="text-gray-700 uppercase dark:text-white">Über</h3>
              <router-link
                to="/datenschutz#title"
                class="block mt-2 text-sm text-gray-600 todo dark:text-gray-400 hover:underline"
              >
                Datenschutzerklärung
              </router-link>
              <router-link
                to="/impressum#title"
                class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline"
              >
                Impressum
              </router-link>
            </div>

            <div class="col-span-2 md:col-span-1">
              <h3 class="text-gray-700 uppercase dark:text-white">Kontakt</h3>
              <span class="block mt-2 text-sm text-gray-600 dark:text-gray-400"
                >Du hast eine Frage zum Miteinander-Tag? Dann schreib uns eine
                E-Mail an:</span
              >
              <a
                href=" mailto:info@miteinandertag.feg.de?subject=Kontakt%3A%20Miteinander-Tag&body=Liebes%20Miteinander-Tag%20Team%2C%0D%0A%0D%0A"
                class="flex mt-2 space-x-2 text-sm text-gray-600 dark:text-gray-400"
              >
                <svg
                  class="w-5 h-5"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    strokeWidth="{2}"
                    d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                  />
                </svg>
                <span class="hover:underline">info@miteinandertag.feg.de</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <p class="mt-6 text-center text-gray-400 dark:text-white">
        © FeG 2021 - All rights reserved
      </p>
    </div>
  </footer>
</template>

<script>
export default {
  name: "Footer",
};
</script>
