<template>
  <div id="home" class="relative w-full lg:h-screen">
    <div class="absolute z-40 w-full h-full">
      <div class="flex flex-col items-center justify-between h-full lg:px-16">
        <div class="flex-1/3"></div>
        <div
          class="flex flex-col items-center mx-auto space-y-4 text-center lg:py-12"
        >
          <miteinander-badge />

          <h1
            class="text-4xl font-bold tracking-wide text-white uppercase md:text-7xl lg:text-9xl"
          >
            Mutig Miteinander
          </h1>
          <h3
            class="text-lg font-semibold text-white md:text-2xl lg:text-4xl lg:w-3/5"
          >
            Ein inspirierender Miteinander-Tag für alle Mitarbeitenden.
          </h3>
          <p class="w-4/5 text-sm text-white lg:text-lg md:w-4/5">
            17. – 18. April 2021
          </p>
          <div class="flex flex-row space-x-4">
            <button
              class="flex items-center justify-center w-40 px-3 py-2 mt-5 space-x-2 bg-white rounded-lg shadow-md"
            >
              <svg
                class="w-6 h-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  strokeLinecap="round"
                  strokeLinejoin="round"
                  strokeWidth="{2}"
                  d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
                />
              </svg>
              <a href="#workshops" class="font-semibold text-gray-800"
                >Workshops</a
              >
            </button>
            <button
              class="flex items-center justify-center w-auto px-3 py-2 mt-5 space-x-2 bg-green-700 rounded-lg shadow-md"
            >
              <svg
                class="w-6 h-6 text-white"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  strokeLinecap="round"
                  strokeLinejoin="round"
                  strokeWidth="{2}"
                  d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"
                />
              </svg>
              <a href="/#anmeldung" class="font-semibold text-white"
                >Anmelden</a
              >
            </button>
          </div>
        </div>
        <div class="flex-1/3"></div>
        <button
          type="button"
          class="flex items-center justify-center w-12 h-12 text-gray-300 transition duration-300 ease-in-out rounded-full cursor-pointer bg-cool-gray-100 animate-bounce hover:text-gray-100 hover:bg-cool-gray-50"
        >
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 14l-7 7m0 0l-7-7m7 7V3"
            ></path>
          </svg>
        </button>
      </div>
    </div>

    <div
      class="absolute bottom-0 z-20 w-full h-64 bg-gradient-to-t from-black"
    ></div>

    <div class="w-full h-screen">
      <div class="absolute z-20 w-full h-screen bg-black opacity-50"></div>
      <img
        class="relative z-10 object-cover w-full h-screen"
        src="../assets/poster.jpg"
      />
    </div>
  </div>
</template>

<script>
import MiteinanderBadge from "../components/MiteinanderBadge.vue";

export default {
  name: "Hero",
  components: { MiteinanderBadge },
};
</script>
