<template>
  <section id="miteinander" class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <Headline
        title="Miteinander"
        description="Willkommen zu MUTIG MITEINANDER! Als Mitarbeitende brauchen wir gerade eine extra Portion Mut und Kreativität. Und genau darum geht es hier. Es erwarten Dich Impulse und Workshops zu (fast) allen Bereichen der Mitarbeit. Du entscheidest, was du am meisten brauchst. "
      />

      <div
        class="flex flex-wrap -mx-4 -mt-4 -mb-10 space-y-6 sm:-m-4 md:space-y-0"
      >
        <!-- FÜR WEN? -->
        <div class="lg:w-full">
          <feature-block
            class="mx-auto lg:w-2/3"
            title="Für wen?"
            description="MUTIG MITEINANDER  ist für alle, die sich einsetzen: die Großen, die Kleinen, die Angestellten, die Ehrenamtlichen, die Motivierten, die Frustrierten, die Neuen, die Alten, die Fröhlichen, die Traurigen, die Überlasteten, die Unterforderten, die Wissenden, die Irrenden, die Freiwilligen, die Braven, die Aufmüpfigen, die Männlichen, die Weiblichen, die Leitenden, die Geleiteten, die Heldenhaften, die Verzagten, die Treuen, die innerlich Gekündigten, die Hoffnungsfrohen – einfach ALLEN!"
          >
            <svg
              class="w-10 h-10"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
              />
            </svg>
          </feature-block>
        </div>

        <!-- WAS GIBTS? -->
        <feature-block
          class="sm:w-1/2 xl:w-1/4"
          title="Was gibt's?"
          description="Einen starken Mix aus Impulsen, Workshops und persönlichen Zeiten. Zum Abschluss feiern wir Gottesdienst – gerne könnt Ihr euch als ganze Gemeinde zuschalten."
        >
          <svg
            class="w-10 h-10"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
            />
          </svg>
        </feature-block>

        <!-- VON WEM? -->
        <feature-block
          class="sm:w-1/2 xl:w-1/4"
          title="Von wem?"
          description="Veranstaltet wir MUTIG MITEINANDER von der Region Mitte-Ost und der Region Süd im Bund FeG. Das Mitarbeiterteam siehst du <a href='#team' title='Miteinander-Tag Team' class='underline'>hier</a>."
        >
          <svg
            class="w-10 h-10"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5"
            />
          </svg>
        </feature-block>

        <!-- WIE LÄUFTS? -->
        <feature-block
          class="sm:w-1/2 xl:w-1/4"
          title="Wie läuft's?"
          description="Ganz einfach: Du meldest dich an und bist online dabei. Alle Links werden dir rechtzeitig zugesandt."
        >
          <svg
            class="w-10 h-10"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z"
            />
          </svg>
        </feature-block>

        <!-- WAS KOSTETS? -->
        <feature-block
          class="sm:w-1/2 xl:w-1/4"
          title="Was kostet's?"
          description="Nichts. Nada. Ein Service deiner FeG. Wenn du möchtest, kannst du <span class='todo'>hier</span> eine kleine (!) Spende machen."
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="w-10 h-10"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M14.121 15.536c-1.171 1.952-3.07 1.952-4.242 0-1.172-1.953-1.172-5.119 0-7.072 1.171-1.952 3.07-1.952 4.242 0M8 10.5h4m-4 3h4m9-1.5a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </feature-block>
      </div>
    </div>
  </section>
</template>

<script>
import FeatureBlock from "../components/FeatureBlock.vue";
import Headline from "../components/Headline.vue";

export default {
  name: "Miteinander",
  components: { Headline, FeatureBlock },
  data() {
    return {};
  },
};
</script>
