<template>
  <nav class="fixed z-50 w-full bg-white shadow-md">
    <div
      class="px-6 py-1 mx-auto lg:container md:flex md:justify-between md:items-center"
    >
      <div class="flex items-center justify-between">
        <div class="flex items-center space-x-5">
          <a
            class="font-bold text-gray-800 uppercase text-md md:text-xl lg:text-xl hover:text-gray-700"
            href="/#home"
            >Mutig Miteinander</a
          >

          <div
            class="px-1 py-1 text-white transition-transform transform bg-red-600 rounded-md hover:rotate-6"
          >
            <span class="text-lg font-semibold">DIGI</span>
            <span class="text-lg font-extrabold">TAL</span>
          </div>
        </div>

        <!-- Mobile menu button -->
        <div class="flex md:hidden">
          <button
            type="button"
            @click="isMenuOpen = !isMenuOpen"
            class="text-gray-500 hover:text-gray-600 focus:outline-none focus:text-gray-600"
            aria-label="toggle menu"
          >
            <svg
              v-if="!isMenuOpen"
              viewBox="0 0 24 24"
              class="w-6 h-6 fill-current"
            >
              <path
                fill-rule="evenodd"
                d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
              ></path>
            </svg>
            <svg
              v-else
              class="w-6 h-6 fill-current"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
      </div>

      <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
      <div
        class="items-center mt-2 md:mt-0 md:flex"
        :class="{ hidden: !isMenuOpen }"
      >
        <div
          class="grid grid-cols-2 gap-2 md:flex md:items-center md:flex-row md:mx-6"
        >
          <a
            class="font-medium text-gray-700 md:text-sm text-medium hover:text-blue-700 md:mx-4 md:my-0"
            href="/#home"
            >Home</a
          >
          <a
            class="font-medium text-gray-700 md:text-sm text-medium hover:text-blue-700 md:mx-4 md:my-0"
            href="/#miteinander"
            >Infos</a
          >
          <a
            class="font-medium text-gray-700 md:text-sm text-medium hover:text-blue-700 md:mx-4 md:my-0"
            href="/#workshops"
            >Workshops</a
          >
          <a
            class="font-medium text-gray-700 md:text-sm text-medium hover:text-blue-700 md:mx-4 md:my-0"
            href="/#footer"
            >Kontakt</a
          >
          <a
            href="/#anmeldung"
            class="col-span-2 px-3 py-2 font-medium text-center text-blue-700 transform border-2 border-blue-700 rounded-md md:text-sm md:py-1 text-normal hover:bg-blue-100 hover:text-blue-900 hover:scale-105"
            >Anmelden</a
          >
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Navigation",
  data() {
    return {
      isMenuOpen: false,
    };
  },
};
</script>
