<template>
  <section class="text-gray-600 body-font">
    <div class="container relative flex flex-wrap px-5 py-24 mx-auto">
      <background-pattern
        class="w-full -mt-16 -ml-16 transform md:w-72 -rotate-12"
      />
      <div class="z-10 flex flex-wrap w-full">
        <img
          class="object-cover object-center mb-12 rounded-lg lg:w-2/5 md:w-1/2 md:mb-0"
          src="https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80"
          alt="step"
        />

        <div class="lg:w-3/5 md:w-1/2 md:pl-10 md:py-6">
          <div class="relative flex pb-12">
            <div
              class="absolute inset-0 flex items-center justify-center w-10 h-full"
            >
              <div class="w-1 h-full bg-gray-200 pointer-events-none"></div>
            </div>
            <div
              class="relative z-10 inline-flex items-center justify-center flex-shrink-0 w-10 h-10 text-white bg-blue-500 rounded-full"
            >
              <svg
                class="w-6 h-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.8"
                  d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
                />
              </svg>
            </div>
            <div class="flex-grow pl-4">
              <h2
                class="mb-1 text-sm font-medium tracking-wider text-gray-900 uppercase title-font"
              >
                Schritt 1 &middot; Workshop
              </h2>
              <p class="leading-relaxed">
                Schau Dir die angebotenen Workshops an und suche dir entweder
                einen 120 min Workshop aus oder zwei 60 min Workshops.
              </p>
            </div>
          </div>
          <div class="relative flex pb-12">
            <div
              class="absolute inset-0 flex items-center justify-center w-10 h-full"
            >
              <div class="w-1 h-full bg-gray-200 pointer-events-none"></div>
            </div>
            <div
              class="relative z-10 inline-flex items-center justify-center flex-shrink-0 w-10 h-10 text-white bg-blue-500 rounded-full"
            >
              <svg
                class="w-6 h-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.8"
                  d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
                />
              </svg>
            </div>
            <div class="flex-grow pl-4">
              <h2
                class="mb-1 text-sm font-medium tracking-wider text-gray-900 uppercase title-font"
              >
                Schritt 2 &middot; Anmelden
              </h2>
              <p class="leading-relaxed">
                Melde dich für den/die Workshops an und sichere Dir deinen
                Platz: <a href="#" class="underline todo">Anmelden</a>
              </p>
            </div>
          </div>
          <div class="relative flex pb-12">
            <div
              class="absolute inset-0 flex items-center justify-center w-10 h-full"
            >
              <div class="w-1 h-full bg-gray-200 pointer-events-none"></div>
            </div>
            <div
              class="relative z-10 inline-flex items-center justify-center flex-shrink-0 w-10 h-10 text-white bg-blue-500 rounded-full"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.8"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <circle cx="12" cy="5" r="3"></circle>
                <path d="M12 22V8M5 12H2a10 10 0 0020 0h-3"></path>
              </svg>
            </div>
            <div class="flex-grow pl-4">
              <h2
                class="mb-1 text-sm font-medium tracking-wider text-gray-900 uppercase title-font"
              >
                Schritt 3 &middot; Anmeldebestätigung
              </h2>
              <p class="leading-relaxed">
                Nach der Anmeldung schicken wir Dir eine Bestätigungsmail für
                deine erfolgreiche Anmeldung. In einer weiteren Mail bekommst Du
                rechtzeitig weitere Informationen zu deinen Workshops
                mitgeteilt. Darin findest Du auch die Links zu den Zoom Räumen.
              </p>
            </div>
          </div>
          <div class="relative flex pb-12">
            <div
              class="absolute inset-0 flex items-center justify-center w-10 h-full"
            >
              <div class="w-1 h-full bg-gray-200 pointer-events-none"></div>
            </div>
            <div
              class="relative z-10 inline-flex items-center justify-center flex-shrink-0 w-10 h-10 text-white bg-blue-500 rounded-full"
            >
              <svg
                class="w-6 h-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.8"
                  d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.8"
                  d="M15 13a3 3 0 11-6 0 3 3 0 016 0z"
                />
              </svg>
            </div>
            <div class="flex-grow pl-4">
              <h2
                class="mb-1 text-sm font-medium tracking-wider text-gray-900 uppercase title-font"
              >
                Schritt 4 &middot; Zoom Installieren
              </h2>
              <p class="leading-relaxed">
                Die Workshops werden über Zoom stattfinden. Installiere Dir
                vorher schonmal den
                <a
                  href="https://zoom.us/download"
                  class="underline"
                  title="Zoom Download-Center"
                  >Zoom-Client für Meetings</a
                >.
              </p>
            </div>
          </div>
          <div class="relative flex pb-12">
            <div
              class="absolute inset-0 flex items-center justify-center w-10 h-full"
            >
              <div class="w-1 h-full bg-gray-200 pointer-events-none"></div>
            </div>
            <div
              class="relative z-10 inline-flex items-center justify-center flex-shrink-0 w-10 h-10 text-white bg-blue-500 rounded-full"
            >
              <svg
                class="w-6 h-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z"
                />
              </svg>
            </div>
            <div class="flex-grow pl-4">
              <h2
                class="mb-1 text-sm font-medium tracking-wider text-gray-900 uppercase title-font"
              >
                Schritt 5 &middot; Zoom Raum organisieren
              </h2>
              <p class="leading-relaxed">
                Für die <em>Reflexionszeit vor Ort</em> benötigt jede Gemeinde
                einen eigenen Zoom-Raum, um sich dort gemeinsam auszutauschen.
                Dieser muss von der Gemeinde organisiert sein.
              </p>
            </div>
          </div>
          <div class="relative flex">
            <div
              class="relative z-10 inline-flex items-center justify-center flex-shrink-0 w-10 h-10 text-white bg-blue-500 rounded-full"
            >
              <svg
                class="w-8 h-8"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"
                />
              </svg>
            </div>
            <div class="flex-grow pl-4">
              <h2
                class="mb-1 text-sm font-medium tracking-wider text-gray-900 uppercase title-font"
              >
                Teilnehmen
              </h2>
              <p class="leading-relaxed">
                Jetzt bist Du ausgerüstet und darfst Dich auf den
                Miteinander-Tag freuen.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import BackgroundPattern from "../components/BackgroundPattern.vue";

export default {
  name: "Steps",
  components: { BackgroundPattern },
  data() {
    return {};
  },
};
</script>
