<template>
  <section id="team" class="container px-2 mx-auto mb-10 md:px-5">
    <headline title="Miteinander-Tag Team" description="" />

    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6">
      <div
        class="p-5 space-y-3 text-center"
        v-for="member in board"
        :key="member.name"
      >
        <div class="w-24 h-24 mx-auto">
          <img
            class="object-cover w-full h-full rounded-full"
            :src="member.image"
            :alt="member.name"
          />
        </div>
        <div class="flex flex-col">
          <p class="text-lg font-medium">{{ member.name }}</p>
          <p class="text-blue-800">{{ member.position }}</p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import uwe from "../assets/uwe.jpg";
import michael from "../assets/michael.jpg";
import henrik from "../assets/henrik.jpg";
import bernd from "../assets/bernd.jpg";
import heinz from "../assets/heinz.jpg";
import hanshelge from "../assets/hans-helge.png";
import Headline from "../components/Headline.vue";

export default {
  components: { Headline },

  name: "TeamList",

  data() {
    return {
      board: [
        {
          name: "Michael Bitzer",
          position: "Pastor FeG Augsburg-Mitte",
          image: michael,
        },
        {
          name: "Henrik Otto",
          position: "Bundessekretär Region Süd",
          image: henrik,
        },
        {
          name: "Bernd Kanwischer",
          position: "Bundessekretär Region Mitte-Ost",
          image: bernd,
        },
        {
          name: "Heinz Weickel",
          position: "Pastor FeG Ingolstadt",
          image: heinz,
        },
        {
          name: "Uwe Totzeck",
          position: "FeG Donauwörth",
          image: uwe,
        },
        {
          name: "Hans-Helge Bürger",
          position: "FeG Augsburg-Mitte",
          image: hanshelge,
        },
      ],
    };
  },
};
</script>
