<template>
  <section class="text-gray-600 body-font">
    <div class="container relative px-5 mx-auto mb-24">
      <background-pattern
        class="bottom-0 h-40 -ml-5 transform w-72 right-5 sm:right-20 lg:-mr-12 rotate-12"
      />
      <div class="relative flex flex-wrap">
        <div
          v-for="testimonial in testimonials"
          :key="testimonial"
          class="w-full p-4 md:w-1/2"
        >
          <div class="h-full p-8 bg-white shadow-lg rounded-xl">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="block w-5 h-5 mb-4 text-gray-400"
              viewBox="0 0 975.036 975.036"
            >
              <path
                d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"
              ></path>
            </svg>

            <p class="mb-6 leading-relaxed">
              {{ testimonial.message }}
            </p>
            <a class="inline-flex items-center">
              <img
                alt="testimonial"
                :src="testimonial.image"
                class="flex-shrink-0 object-cover object-center w-12 h-12 rounded-full"
              />
              <span class="flex flex-col flex-grow pl-4">
                <span class="font-medium text-gray-900 title-font">{{
                  testimonial.name
                }}</span>
                <span
                  class="text-sm text-gray-500"
                  v-html="testimonial.profession"
                ></span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import BackgroundPattern from "../components/BackgroundPattern.vue";
import uschi from "../assets/uschi.jpg";
import andreas from "../assets/andreas.jpg";

export default {
  name: "Testimonials",

  components: { BackgroundPattern },

  data() {
    return {
      testimonials: [
        {
          message:
            "Bisher habe ich beim Miteinandertag genossen - außer den geistlichen Impulsen -, mich mit Menschen aus anderen Gemeinden zu treffen, gemeinsam zu essen und zu ratschen. Jetzt, wo das nicht geht, freue ich mich wenigstens auf die virtuelle Gemeinschaft. Ich bin gespannt, was ich bei den Workshops lernen darf.",
          image: uschi,
          name: "Uschi Rutsch",
          profession: "FeG Ingolstadt",
        },
        {
          message:
            "Als wir 2017 den Miteinandertag das erste Mal vorbereiteten, hätten wir nicht gedacht, dass wir damit auf eine solch große Resonanz stoßen würden. Das Konzept, Mitarbeiter aus den unterschiedlichen Arbeitsbereichen unserer Gemeinden zu vernetzen, um sich gemeinsam auszutauschen und neue Impulse zu bekommen, ist aufgegangen. Auch wenn der Miteinandertag 2021 nur digital stattfinden kann, so bleibt der Grundgedanke auch in diesem Jahr erhalten. Ich bin dabei!",
          image: andreas,
          name: "Andreas Engelbert",
          profession: "Pastor &middot; FeG München-Nord",
        },
      ],
    };
  },
};
</script>
