<template>
  <call-to-action class="my-16" />
  <section id="workshops">
    <div class="container px-5 mx-auto">
      <headline
        title="Workshops"
        description="Die Workshops machen MUTIG MITEINANDER zu dem, was es ist: Ein facettenreiches Angebot zum Weiterbilden. Schau einfach, was für dich relevant ist und dir am meisten hilft. Es gibt Kreatives, Organisatorisches, Theologisches, Praktisches – am besten scrollst du dich mal durch. Die meisten Workshops dauern 60 Minuten. So kannst du an zwei Angeboten teilenehmen."
      />
    </div>

    <workshop-filter
      @filterChange="filter = $event"
      :categories="categories"
      :meeting-times="meetingTimes"
    />

    <div class="grid grid-cols-1 gap-2 px-1 mt-3 mb-24 md:px-5 md:grid-cols-2">
      <!-- <pre>
        {{ groups }}
      </pre> -->
      <workshop-card
        v-for="workshop in groups"
        :key="workshop.id"
        :workshop="workshop"
        grouphomepage="Lmi1AHdYLTmjQFqZPsH04vznvZbHz7Js"
        @faved="workshopFaved"
      />
    </div>

    <p
      v-show="noWorkshopFound"
      class="mt-10 mb-16 text-xl font-bold text-center text-blue-600"
    >
      Keine Workshops gefunden für den eingestellten Filter.
    </p>
  </section>
</template>

<script>
import WorkshopCard from "../components/WorkshopCard.vue";
import Headline from "../components/Headline.vue";
import CallToAction from "../components/CallToAction.vue";
import WorkshopFilter from "../components/WorkshopFilter.vue";

export default {
  name: "Workshops",
  components: {
    WorkshopCard,
    Headline,
    CallToAction,
    WorkshopFilter,
  },
  data() {
    return {
      workshops: {
        filter: [{ type: "groupcategory", options: [] }],
        groups: [],
      },
      filter: {
        showFavedOnly: false,
        selectedCategories: new Set(),
        selectedMeetingTimes: new Set(),
        hideFull: false,
      },
      favedWorkshops: null,
      referenten: {
        "Daniela Knauz":
          "Bund FeG - Leiterin Referat Frauen und Ältere Generationen",

        "Matthias Ehmann":
          "Lehrbeauftragter an der Theol. Hochschule Ewersbach",

        "Marcus Felbick":
          "Referent für Pfadfinder, Jungschar und Projekte im Bund FeG",

        "Stefanie Kühner": "",
        "Andreas Engelbert": "Pastor der FeG München-Nord",
        "Reinhard Spincke": "Bundessekretär Region Nord",
        "Daniela Georg": "",
        "Matthias Knöppel": "Bundessekretär Region West",
        "Karthin  Lochner":
          "Büro für Arbeitssicherheit und Brandschutz K. Lochner",

        "Guido Sadler": "Geschäftsführer im Bund FeG",
        "Johannes Reimer": "Professor an der Theol. Hochschule Ewersbach",
        "Julius Steinberg": "Professor an der Theol. Hochschule Ewersbach",
        "Thomas Schech": "Vorstandsvorsitzender der Allianzmission",
        "Simon Diercks":
          "Leiter Communication und Media bei der Allianzmission",

        "Simon Diercks":
          "Leiter Communication und Media bei der Allianzmission",

        "Felix Wiegner": "IT und Fundraising bei der Allianzmission",
        "Matthias Huber": "Geschäftsführer ChurchTools",
        "Artur Wiebe":
          "Referent für Medien und Öffentlichkeitsarbeit im Bund FeG",

        "Hilmar Schultze": "Pastor und Evangelist im Bund FeG",
        "Christof Lenzen": "Pastor der FeG Gera",
        "Jenz Mankel": "Seelsorgereferent im Bund FeG",
        "Arne Völkel": "Pastor der FeG Dortmund",
        "Lara Scholz": "",
        "Claudia Rohlfing": "Referentin für Kindergottesdienst im Bund FeG",
        "Anke Kallauch": "Referentin für Kindergottesdienst im Bund FeG",
        "Daniel Kallauch": "Kindermusiker",
        "Winnie Dittberner": "",
        "Andi Schlüter": "",
        "Steffen Werner":
          "Referent für Jugend und Mission bei der Allianzmission",

        "Sebastian Wickel": "Kreisjugendpastor Dill-Westerwaldkreis",
        "Lorena Seipel":
          "Referentin für Freiwilligendienste bei der Allianzmission",

        "Andi Bode": "Jugendreferent der FeG Karlsruhe",
      },
    };
  },
  mounted() {
    this.favedWorkshops = new Set();

    const savedWorkshops = localStorage.getItem("favedWorkshops");
    if (typeof savedWorkshops === "string" && savedWorkshops !== "") {
      this.favedWorkshops = new Set(
        JSON.parse(localStorage.getItem("favedWorkshops"))
      );
    }

    fetch(
      "https://regionsued.church.tools/api/grouphomepages/Lmi1AHdYLTmjQFqZPsH04vznvZbHz7Js"
    )
      .then((response) => response.json())
      .then((data) => (this.workshops = data.data))
      .then((workshops) =>
        this.workshops.groups.sort(
          (groupA, groupB) =>
            groupA.information.groupCategory.sortKey -
            groupB.information.groupCategory.sortKey
        )
      );
  },
  computed: {
    categories() {
      const usedCategories = this.workshops.groups
        .map((group) => group.information.groupCategory.id)
        .filter((value, index, self) => {
          // Make array unique
          return self.indexOf(value) === index;
        });

      const options = this.workshops.filter
        .filter((type) => type.type === "groupcategory")[0]
        .options.filter((option) =>
          usedCategories.find((element) => element === option.id)
        )
        .map((option) => option.name);

      return options;
    },

    meetingTimes() {
      const times = this.workshops.groups
        .map((group) => group.information.meetingTime)
        .filter((value, index, self) => {
          // Make array unique
          return self.indexOf(value) === index;
        })
        .sort();

      return times;
    },

    noWorkshopFound() {
      return JSON.stringify(this.groups) === "{}";
    },

    groups() {
      const filteredGroups = this.workshops.groups
        .map((workshop) => ({
          id: workshop.id,
          name: workshop.name,

          meetingTime: workshop.information.meetingTime,
          groupCategory: workshop.information.groupCategory,
          note: workshop.information.note,
          imageUrl: workshop.information.imageUrl,
          leader: workshop.information.leader,

          members: {
            max: workshop.maxMemberCount,
            current: workshop.currentMemberCount,
          },
          block2: null,
          isFavorite: this.favedWorkshops.has(workshop.id),
          leaderInfo: this.referenten[workshop.information.leader[0].title],
          leaderInfo2: this.referenten[workshop.information.leader[1].title],
        }))
        .filter(
          (workshop) =>
            !this.filter.showFavedOnly ||
            (this.filter.showFavedOnly && this.favedWorkshops.has(workshop.id))
        )
        .filter(
          (workshop) =>
            !this.filter.hideFull ||
            (this.filter.hideFull &&
              workshop.members.max - workshop.members.current !== 0)
        )
        .filter(
          (workshop) =>
            this.filter.selectedCategories.size === 0 ||
            (workshop.groupCategory !== null &&
              this.filter.selectedCategories.has(workshop.groupCategory.name))
        )
        .filter(
          (workshop) =>
            this.filter.selectedMeetingTimes.size === 0 ||
            this.filter.selectedMeetingTimes.has(workshop.meetingTime)
        );

      // Search for same workshop and put it as block2 to first one.
      // The second workshop has the same name + ' 2'.
      const myMap = {};
      filteredGroups.forEach(function (group) {
        if (myMap[group.name.slice(0, -2).trim()] !== undefined) {
          myMap[group.name.slice(0, -2).trim()].block2 = group;
        } else {
          myMap[group.name] = group;
        }
      });

      return myMap;
    },
  },
  methods: {
    isCategorySelected() {
      return (
        this.selectedCategories !== null && this.selectedCategories.size > 0
      );
    },

    workshopFaved(workshopId, isFaved) {
      if (isFaved) {
        this.favedWorkshops.add(workshopId);
        return;
      }

      this.favedWorkshops.delete(workshopId);
    },
  },

  watch: {
    favedWorkshops: {
      handler() {
        localStorage.setItem(
          "favedWorkshops",
          JSON.stringify([...this.favedWorkshops])
        );
      },
      deep: true,
    },
  },
};
</script>
