<template>
  <Navigation />
  <router-view></router-view>
  <Footer />
</template>

<script>
import Footer from "./sections/Footer.vue";
import Navigation from "./sections/Navigation.vue";
export default {
  components: { Navigation, Footer },
  name: "App",
};
</script>
