<template>
  <Hero />
  <Miteinander />
  <Ablauf />
  <Steps />
  <Testimonials />
  <Workshops />
  <team-list />
</template>

<script>
import Hero from "../sections/Hero.vue";
import Miteinander from "../sections/Miteinander.vue";
import Ablauf from "../sections/Ablauf.vue";
import Workshops from "../sections/Workshops.vue";
import Steps from "../sections/Steps.vue";
import Testimonials from "../sections/Testimonials.vue";
import TeamList from "../sections/TeamList.vue";

export default {
  name: "Home",
  components: {
    Hero,
    Miteinander,
    Ablauf,
    Steps,
    Testimonials,
    Workshops,
    TeamList,
  },
};
</script>
