<template>
  <article class="container px-2 pt-24 mx-auto prose md:px-0">
    <h1 id="title">Impressum</h1>
    <h2>Verantwortlich für den Inhalt der Webseite nach § 55 Abs. 2 RStV</h2>

    <p>
      Michael Bitzer <br>
      Im Gässle 22 <br>
      86356 Neusäß <br>
    </p>

    <h3>Kontakt</h3>
    <p>
      <strong>E-Mail:</strong> pastor@augsburg-mitte.feg.de
    </p>
    <p>
      <strong>Telefon:</strong> +49 821 24 81 89 81
    </p>

    <h3>Hinweis</h3>
    <p>
      Die Informationen auf dieser Webseite wurden nach bestem Wissen und Gewissen zusammengestellt. Gleichwohl birgt
      die
      Datenschutz-Grundverordnung (DSGVO) eine Reihe juristischer Unschärfen und/oder Regelungslücken. Die notwendige
      Rechtssicherheit und -klarheit werden voraussichtlich erst gerichtliche Verfahren auf nationaler Ebene oder vor
      dem
      Europäischen Gerichtshof bringen. Daher erheben dieser Flyer und die darin bereitgestellten Inhalte keinen
      Anspruch
      auf Rechtsverbindlichkeit, Aktualität und Vollständigkeit.
    </p>

    <p>Stand aller Informationen: Januar 2021</p>

    <h2>Technischer Ansprechpartner</h2>

    <p>Hans-Helge Bürger</p>
    <p>
      <strong>E-Mail:</strong> webmaster@hanshelgebuerger.de
    </p>

    <hr>

    <h1>Bildernachweis</h1>
    <p>
      Verwendete Bilder stamme entweder von Unsplash.com und unterliegen der Public Domain oder sind vom Urheber mit
      Erlaubnis zur Verfügung gestellt worden. Das Bild „Kinder Silhouetten Muskeln bei Sonnenaufgang“ ist von Designed
      by
      Jcomp / Freepik.
    </p>

    <h2 class="todo">Verwendete Medien</h2>

    <p>
    <ul>
      <li>Church von Nicole Honeywill</li>
      <li>Reykjavik von Akira Hojo</li>
      <li>Worship von Edward Cisneros</li>
    </ul>
    </p>
  </article>
</template>

<script>
import Navigation from "../sections/Navigation.vue";

export default {
  name: "Impressum",
  components: {
    Navigation
  }
};
</script>
